allure-behave==2.8.40
allure-pytest==2.8.40
allure-python-commons==2.8.40
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
behave==1.2.6
blinker==1.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.1
et-xmlfile==1.0.1
filelock==3.0.12
h11==0.12.0
h2==4.0.0
hpack==4.0.0
html-testRunner==1.2.1
hyperframe==6.0.0
idna==2.10
iniconfig==1.1.1
Jinja2==2.11.3
kaitaistruct==0.9
MarkupSafe==1.1.1
numpy==1.20.2
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.9
parse==1.19.0
parse-type==0.5.2
Pillow==8.2.0
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycparser==2.20
pydivert==2.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.3
requests==2.25.1
selenium==3.141.0
selenium-wire==4.2.3
six==1.15.0
toml==0.10.2
unittest-xml-reporting==3.0.4
urllib3==1.26.4
virtualenv==20.4.3
wsproto==1.0.0
